@page "/"
@using MauiBlazorApp.Interfaces;
@using MauiBlazorApp.Models;
@inject IMyApiService MyApiService

<h3>User List</h3>

@if (Users != null)
{
    @foreach (var user in Users)
    {
        <p>@user.FirstName @user.LastName</p>
    }
}
else
{
    <p>Loading...</p>
}

@code {
    List<UserDTO> Users;

    protected override async Task OnInitializedAsync()
    {
        // Example: Retrieve user data using the MyApiService
        Users = await MyApiService.GetUsers();
    }
}